/* moving-text.module.css */

@keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .container {
    overflow: hidden;
  }
  
  .textWrapper {
    animation: moveText linear infinite;
    animation-duration: 25s; /* Adjust the duration as needed */
    animation-timing-function: linear;
  }
  