@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #024554;
}

/* styles/globals.css */
@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  5%, 20% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }
  10%, 25% {
    transform: translate(2px, -2px);
    opacity: 0.8;
  }
  15%, 30% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }
  20%, 35% {
    transform: translate(2px, -2px);
    opacity: 0.8;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.animate-glitch {
  animation: glitch 1s infinite;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}


/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  right: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
  width: 14px;
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}



@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.my-marquee {
  animation: marquee 60s linear infinite;
}





